{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Income-Dashboard
{% endblock title %}

{% block content %}
<div class="">
    <a class="btn  btn-warning badge-pill ml-3 mt-3" href="{% url 'income' %}" role="button">
    <i class="fa fa-money" aria-hidden="true"></i>
     Income</i>
    </a>
</div>

<div class="row mt-3">
            <nav class="nav nav-pills flex-column ml-4  col-md-2" style="background-color:aliceblue">
                <a href="{% url 'dashboard' %}" class="nav-item nav-link active mb-4 ml-3 mt-5">
                    <i class="fa fa-columns" ></i> Dashboard
                </a>
                <a href="{% url 'expenses' %}" class="nav-item nav-link mb-4">
                    <i class="fa fa-sticky-note"></i> Expenses
                </a>
                <a href="{% url 'income' %}" class="nav-item nav-link mb-4">
                    <i class="fa fa-sticky-note-o" ></i> Income
                </a>
                <a href="{% url 'add-customer' %}" class="nav-item nav-link mb-4">
                    <i class="fa fa-user-plus"></i> Add a Customer
                </a>
                <a href="{% url 'customers' %}" class="nav-item nav-link  mb-4">
                    <i class="fa fa-users"></i> Customers
                </a>
                <a href="{% url 'add-transaction' %}" class="nav-item nav-link  mb-4">
                    <i class="fa fa-plus-circle"></i> Add a Transaction
                </a>
            </nav>

            <form method="POST" class='col-md-6 ml-5 mt-2'>
                    <h3 class='text-center text-primary'> Income</h3>
                        {% csrf_token %}
                        <div class='flex justify-content-center'>
                        {{ form|crispy}}
                        <button type="submit" class="btn btn-warning">Submit</button>
                        </div>
            </form>

</div>
    
{% endblock %}
