{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}
    {% endblock title %} |Akant Book</title>
    <meta name="description"
            content="Akant Book is Ledger app for SMEs in Nigeria. It is a Web App that isjust bascially for wholesalers. It allows them to track and manage their business workflow.">
        <meta name="viewport" content="width=device-width, initial-scale1, shrink-to-no-fit">
        <meta name="keywords"
            content="Ledger, Ledger Application, SMEs, Business, Akant Book.">
        

    <!--bootstrap css framework-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--jquery cdn-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <!--icons-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <!--bootstrap javascript-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {% block extra_head %}
    {% endblock %}

</head>
<body>
{% comment %} <div class="mt-5 pt-5 text-center">
  {% if messages %}
        {% for message in messages  %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          {{message}}
           </div>
        
        {% endfor %}
  {% endif %}
</div> {% endcomment %}

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand ml-5">
            <h4 style='font-family:sans-serif'> Akant Book</h4>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="">

            </div>
            <div class="navbar-nav ml-auto justify-content-">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'account_logout' %}">
                            <span class="clearfix d-none d-sm-inline-block btn btn-sm btn-warning"> Logout </span>
                        </a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="nav-item nav-link ">
                            <span class=" btn btn-sm btn-outline-warning mt-1"> Login </span>
                        </a>
                        <a href="{% url 'account_login' %}" class="nav-item nav-link">
                            <span class="clearfix d-none d-sm-inline-block btn btn btn-warning"> Sign up </span>
                        </a>
                    {% endif %}
            </div>
        </div>
    </nav>



{% block content %}
{% endblock content %}

    {% block extra_body %}
    {% endblock %}

</body>
</html>

</body>
</html>

</body>
</html>


{% comment %} 
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endcomment %}

    

