{% extends 'base.html' %}

{% block title %}
    Rgister Business
{% endblock title %}

{% block content %}

<div class='container text-center mt-5'>
    <h2> Register your Business </h2>
</div>

 <form action='register' method='POST' class='container mt-5 col-md-8'>
    {% csrf_token %}
    <div class="form-group">
      <label for="Business_name">Business Name</label>
      <input type="text" class="form-control" name="Business_name" id="Business_name" placeholder="Your Business Name">
    </div>

    <div class="form-group">
        <label for="Type_of_service"> What does the business offer</label>
        <select class="custom-select" name="Type_of_service" id="Type_of_service">
            <option selected>Select one</option>  
            <option value="Goods">Goods</option>
            <option value="Services">Services</option>
        </select>
    </div>

    <div class="form-group">
      <label for="business_email_address"> Email address</label>
      <input type="email" class="form-control" name="business_email_address" id="business_email_address" placeholder="Business Email Address">
    </div>

    <button class="btn btn-block btn-outline-warning" type="submit">Submit</button>
 </form>
{% endblock content %}